.config/gh/hosts.yml
.config/github-copilot/hosts.json
.config/zsh/.zsh_history
.config/lazygit/state.yml
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/_fifc*
.config/fish/functions/fifc.fish
.config/fish/functions/fisher.fish
.config/fish/themes/
.config/fish/fish_plugins
.config/fish/fish_variables
